.chartBox {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: flex-end;

	border-radius: 1rem;
	font-size: 1.2rem;
	margin: 1rem;
	padding: 0.3rem 0.2rem;
}

.chartBar {
	background-color: #fc8256;
	border: 0.1rem solid #f8f8ff;
	border-radius: 1rem;
	height: 10rem;
	width: 0.9rem;

	position: relative;
}

.chartFill {
	background-color: #ff4500;
	border-radius: 1rem;
	width: 100%;

	position: absolute;
	bottom: 0;

	transition: height 500ms ease-out;
}
