form {
	background-color: #ff7a4a;
	border: 0.25rem solid #f8f8ff;
	border-radius: 1rem;
	box-shadow: 0 0.4rem 0 #181717;
	color: #f8f8ff;
	padding: 2rem;
	width: 70rem;
}

.form__controls {
	display: inline-block;
	margin-right: 2rem;
	padding: 1rem 0;
	width: 45%;
}

.form__label {
	display: block;
	margin-bottom: 0.3rem;
}

.form__input {
	border: none;
	border-radius: 0.4rem;
	font-family: inherit;
	font-size: inherit;
	padding: 1rem 0 1rem 0.6rem;
	width: 100%;
}

.form__input:focus {
	background-color: #b8b8b8;
	outline: none;
}
