*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: 62.5%;
}
body {
	background-color: #333;
	color: ghostwhite;
	font-size: 1.75rem;
}
