.select__controls {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;

	margin: 5rem 0 0;
	width: 70rem;
}

.select {
	border: none;
	border-radius: 0.7rem;
	display: inline-block;
	font-family: inherit;
	font-size: inherit;
	margin-left: 0.4rem;
	padding: 1.5rem 0.4rem;
	text-align: right;
	width: 15rem;
}

.select:focus {
	background-color: #dfdfdf;
	outline: none;
}
