.list__container {
	background-color: #333;
	border: 0.4rem solid ghostwhite;
	border-radius: 1rem;
	box-shadow: 0 0.4rem 0 rgb(128, 128, 128);
	color: ghostwhite;
	list-style-type: none;
	margin: 0.5rem 0;
	padding: 3rem 2rem;
	width: 70rem;

	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
}
