.select__controls {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-end;

	width: 100%;
}

.select__controls label {
	margin-right: 1rem;
}

.select {
	border: none;
	border-radius: 0.7rem;
	display: inline-block;
	font-family: inherit;
	font-size: inherit;
	margin: 2rem 0;
	padding: 1.5rem 0.4rem;
	text-align: right;
	width: 15rem;
}

.select:focus {
	background-color: #b8b8b8;
	outline: none;
}
